@model MvcCustumerDetail.Models.Customer

@{
    ViewBag.Title = "CustDetail";
}

<h2>CustDetail</h2>

<table>
    <td>@Model.CustomerId</td><td>@Model.CustomerName</td>
    <td>@Model.CustomerGender</td>
</table>
